fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv
mysql-connector-python
python-multipart
typing-extensions
python-jose
passlib
bcrypt
requests
aiofiles
pillow
python-magic
pymysql
websockets
