fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv
mysql-connector-python
python-multipart
typing-extensions
passlib
bcrypt
requests
aiofiles
pillow
python-magic
pymysql
websockets
pandas
openpyxl 
email-validator>=2.0

